TestRestService/Schemas/AccountDetailsSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1641598819732" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1641598819732">
  <xsd:element name="AccountDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="AccountName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="Balance" type="xsd:integer"/>
            </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
